body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app-container{
  display: flex;
  height: 100vh;
  position: relative;
  gap: 25px;
  background-color: #9dd5fb;
}

.cards-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  min-width: 200px;
}

.cards-header{
  position: sticky;
  top: 0;
  background-color: #9dd5fb;
  height: 50px;
  padding: 15px 5px;
}

.new-patient-button{
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: #007bff;
  transition: all 0.2s ease-in-out;
}

.new-patient-button:hover{
  opacity: 0.8;
}


